<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/browse">Browse Loan Requests</a></li>
</ul>
<div class="page-header">
    <h1>My Basket</h1>
</div>
<table class="table table-striped table-bordered table-condensed text-center">
<thead>
<tr>
  <th colspan="1"></th>
  <th colspan="1" class="text-center">Project Title</th>
  <th colspan="1" class="text-center">Borrower</th>
  <th colspan="1" class="text-center">Repayment Begin Date</th>
  <th colspan="1" class="text-center">Repayment Rate</th>
  <th colspan="1" class="text-center">Funding Remaining</th>
  <th colspan="1" class="text-center">Your Contribution</th>
  <th colspan="1" class="text-center">+</th>
  <th colspan="1" class="text-center">-</th>
  <th colspan="1" class="text-center">Remove From Basket</th>
</tr>
</thead>
<tbody>
  <% if !@current_cart.cart_items.empty? %>
    <% @current_cart.cart_items_and_amount.each do |loan_request, amount| %>
      <tr>
        <td></td>
        <td><%= loan_request.title %></td>
        <td><%= loan_request.user.name.capitalize %></td>
        <td><%= loan_request.repayment_begin %></td>
        <td><%= loan_request.repayment_rate.capitalize %></td>
        <td><%= number_to_currency(loan_request.funding_remaining) %></td>
        <td><%= number_to_currency(amount, precision: 2) %></td>
        <div class="add25">
          <td><%= button_to "$25", {controller: "cart", action: "update", loan_request_id: loan_request.id, quantity: "increase" } , method: "put", class: "btn-small btn-success" %></td>
        </div>
        <div class="sub25">
          <td><%= button_to "$25", {controller: "cart", action: "update", loan_request_id: loan_request.id, quantity: "decrease" } , method: "put", class: "btn-small btn-danger"  %></td>
        </div>
        <td><%= link_to "Remove from Basket", cart_path(loan_request), method: "delete" %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="12" align="center">Your Basket is Empty - <a href="/browse">Contribute to a Project</a></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<% if !@current_cart.cart_items.empty? %>
  <%= button_to("Transfer Funds", orders_path(cart: @current_cart.cart_items), class: "cart-button btn btn-large btn-success pull-right")  %>
<% end %>
