<% if !@current_cart.cart_items.empty? %>
  <% @current_cart.cart_items_and_amount.each do |loan_request, amount| %>
    <div id="loan_request_title"><%= loan_request.title %></div>
    <div id="loan_request_borrower"><%= loan_request.user.name.capitalize %></div>
    <div id="loan_request_amount"><%= number_to_currency(amount, precision: 2) %></div>
    <div id="remove_from_cart_button"> <td><%= link_to "Remove Contribution from Basket", cart_path(loan_request), method: :delete %></td>
    <p>Modify Amount </p>
      <div id="modify_quantity_button">
        <td> <%= button_to '+1', {:controller => "cart", :action => "update", :loan_request_id => loan_request.id, :quantity => "increase" } , :method=> :put  %> </td>
        <td> <%= button_to '-1', {:controller => "cart", :action => "update", :loan_request_id => loan_request.id, :quantity => "decrease" } , :method=> :put  %> </td>
     </div>
  <% end %>

  <div id="order_button"><%= button_to "Transfer Funds", orders_path(:cart => @current_cart.cart_items) %></div>
<% else %>
  <p>Your basket is currently empty.</p>
<% end %>

