<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <%= bootstrap_form_for(@loan_request, remote: true) do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <%= f.date_field :requested_by_date %>
    <%= f.date_field :repayment_begin_date %>
    <%= f.select :repayment_rate, [["Monthly", "monthly"], ["Weekly", "weekly"]], {}, { class: "selectpicker" } %>
    <%= f.text_field :amount, prepend: "$", append: ".00" %>
  <div class="modal-footer">
    <%= f.submit "Submit" %>
  </div>
<% end %>
</div>
