<div class="container">
  <div class="row">
    <% @loan_requests.each do |loan_request| %>
      <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="thumbnail">
        <img src="http://www.kiva.org/img/w632/1847429.jpg" alt="...">
        <div class="caption">
          <div class="thumbnail-label">
            <h3><%= loan_request.title %></h3>
          </div>
          <p><%= loan_request.description %></p>
          <p>
            <%= link_to "About", loan_request_path(loan_request), class: "btn btn-default" %>
            <%= link_to "Contribute $25", cart_path(loan_request: loan_request.id.to_i, amount: 25), method: 'post', class: "btn btn-info pull-right" %>
          </p>

          <%= render "shared/progress_bar" %>

        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
