<form class="form-search search-bar col-md-offset-2">
Search Requests:
<input type="search" name="googlesearch">
</form>

<select>
  <option value="volvo">Category 1</option>
  <option value="saab">Category 2</option>
  <option value="mercedes">Category 3</option>
  <option value="audi">Category 4</option>
</select>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class=".col-xs-6 .col-sm-3 " >
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScGoV_pVGV1TwOF-v6fcRBqn7wg7Z2AEyJQnl6zSEur9x8zLs3">
  <h3><%= link_to "Farming Thing" %></h3>
  <p>Farmers work hard and deserve your money. Help us please!</p>
</div>

<div class=".col-xs-6 .col-sm-3 " >
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScGoV_pVGV1TwOF-v6fcRBqn7wg7Z2AEyJQnl6zSEur9x8zLs3">
  <h3><%= link_to "Farming Thing" %></h3>
  <p>Farmers work hard and deserve your money. Help us please!</p>
</div>
<div class=".col-xs-6 .col-sm-3 " >
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScGoV_pVGV1TwOF-v6fcRBqn7wg7Z2AEyJQnl6zSEur9x8zLs3">
  <h3><%= link_to "Farming Thing" %></h3>
  <p>Farmers work hard and deserve your money. Help us please!</p>
</div>
<div class=".col-xs-6 .col-sm-3 " >
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScGoV_pVGV1TwOF-v6fcRBqn7wg7Z2AEyJQnl6zSEur9x8zLs3">
  <h3><%= link_to "Farming Thing" %></h3>
  <p>Farmers work hard and deserve your money. Help us please!</p>
</div>
