<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h3>Welcome To Keevahh: Sign Up as a Lender</h3>
</div>
<div class="modal-body">
<%= bootstrap_form_for(:user, url: lenders_path) do |f| %>
  <%= f.text_field :name %>
  <%= f.email_field :email %>
  <%= f.password_field :password, label: "Password", help: "Must be at least 8 characters long" %>
  <%= f.password_field :password_confirmation, label: "Confirm Password" %>

<div class="modal-footer">
  <%= f.submit "Create Account" %>
  </div>
<% end %>
</div>
