<div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3><%= @lender.name %>'s Portfolio</h3></div>
    <div class="panel-body">
      <h4>Amount Donated: <%= number_to_currency(@lender.total_contributed) %></h4>
    </div>
<table class="table table-bordered">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date Donated</th>
          <th>Title</th>
          <th>Category</th>
          <th>Amount Donated</th>
          <th>Repayment Begin Date</th>
          <th>Repayment Rate</th>
        </tr>
      </thead>
      <tbody>
        <% @lender.projects.each do |project| %>
      <tr>
        <td><%= @lender.contributed_to(project).first.newest_contribution %></td>
        <td><%= project.title %></td>
        <td>Agriculture</td>
        <td><%= @lender.contributed_to(project).first.contribution %></td>
        <td><%= project.repayment_begin %></td>
        <td><%= project.repayment_rate.capitalize %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</table>
</div>
